@use '../abstracts' as *;

.row {
  max-width: $grid-width;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 17.6rem;
}

.tiles {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.col-2x1 {
  display: flex;
  gap: 2.4rem;

  @include respond(tab-land) {
    flex-direction: column;
    gap: 4rem;
    padding: 0 5%;
  }
  @include respond(phone) {
    gap: 4rem;
    padding: 0 2%;
  }
}
