@use '../abstracts' as *;
@use '../base' as *;

.award-card {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  background-color: $background-color-primary;
  color: $text-black-primary;
  height: 40.6rem;
  text-align: center;
  gap: .8rem;
  border-radius: .4rem;
  @extend .elevation-00;

  @include respond(phone) {
    height: auto;
  }

  & img {
    height: 27rem;
    @include respond(phone) {
      height: 16rem;
    }
  }
  & p {
    color: $color-primary-600;
  }
  & span {
    color: $text-black-secondary;
  }
}
