@use '../../../styles/abstracts' as *;

.calendar {
  &-day-item {
    width: 16rem;
    height: 21.6rem;
    background-color: $background-color-primary;
    padding: 0.8rem;
	box-shadow: 2px 0 0 0 $color-neutral-200, 0 2px 0 0 $color-neutral-200, 2px 2px 0 0 $color-neutral-200,
	2px 0 0 0 $color-neutral-200 inset, 0 2px 0 0 $color-neutral-200 inset;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &.disabled {
      background-color: $background-color-tertiary;
    }

    &.today {
      background-color: $color-secondary-100;
    }
  }
}
