@use '../abstracts' as *;
@use '../base' as *;

.award-card {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  background-color: $background-color-primary;
  color: $text-black-primary;
  width: 31.2rem;
  height: 40.6rem;
  text-align: center;
  gap: .8rem;
  border-radius: .5rem;
  @extend .elevation-00;

  & img {
    width: 26.4rem;
    height: 27rem;
  }
  & p {
    color: $color-primary-600;
  }
  & span {
    color: $text-black-secondary;
  }
}
