@use '../abstracts' as *;
@use '../base' as *;


.color-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.8rem;
  @include respond(tab-port) {
    gap: 0.4rem;
  }
  .color-card-ds {
    height: 6.4rem;
    width: 100%;
    flex: 1;
    .color-sample {
      height: 4rem;
    }
  }
}
