@use '../abstracts' as *;
@use '../base' as *;


.input-ds {
  img {
    width: 100%;
    margin: 1.6rem 0;
    height: 40rem;
    object-fit: contain;
    @include respond(phone) {
      height: auto;
    }
  }
  &__examples {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    justify-items: start;

    &.buttons {
      grid-template-rows: 4.4rem 4.4rem;
      grid-auto-flow: column;
    }
  }
}
