@use '../abstracts' as *;
@use '../base' as *;

.navbar-ds{

    &__example{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 6.4rem;
        & > header {
            position: relative;
        }
    }
}