@use '../../abstracts/' as *;

.badge {
  z-index: 50;

  &-button {
    position: absolute;
    display: inline-block;
    padding: 1.6rem 0.8rem;
    color: $background-color-primary;
    top: 50%;
    border: none;
    cursor: pointer;
    z-index: 12;
    transition: all 0.2s;

    &.left {
      left: 0;
      border-radius: 0px 2px 2px 0px;
    }
    &.right {
      border-radius: 2px 0px 0px 2px;
      right: 0;
    }

    &:hover {
      background-color: $color-secondary-600;
    }

    &:active {
      background-color: $color-secondary-800;
    }
  }
}
