@use '../../abstracts' as *;
@use '../../base' as *;

.code-snippet {
  margin: 1.6rem 0;
  & > * {
    margin-bottom: 1.6rem;
  }
  &__label {
    background: #2c7ad6;
    color: #fefefe;
    padding: 0.8rem;
    display: inline-block;
    border-radius: 2px 2px 0 0;
  }

  &__content {
    max-height: 32rem;
    overflow-y: auto;
    & > pre {
      padding: 0.8rem;
    }
  }
}
