@use '../abstracts' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(desktop) {
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  // @include respond(big-desktop) {
  //     font-size: 75%; //1 rem = 12px, 12/16 = 75%
  // }
}

body {
  box-sizing: border-box;
  font-family: 'Switzer', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $text-black-primary;
  background-color: $background-color-secondary;
  word-spacing: 0.12rem;
  //https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html#:~:text=Line%20height%20(line%20spacing)%20to,0.16%20times%20the%20font%20size.

  @include respond(tab-port) {
    padding: 0;
  }
}
