@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.scroll-link {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-primary-600;
    cursor: pointer;
  }
  &:hover {
    text-decoration: underline;
    color: $color-primary-900;
  }
  &:focus,
  &:active {
    text-decoration: none;
  }
  &.disabled {
    opacity: 38%;
    pointer-events: none;
  }

  &.active {
    background-color: #cce3ff;
    padding: 0.4rem;
    border-radius: .2rem;
  }
}
